.main-block {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;

}


.block-countries{
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
}